<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
</head>

<body style="font-family: Arial; font-size: 14px">
<h1>Thanh toán đơn hàng</h1>
<div>Xin chào, <%= name %></div>
<div>Cảm ơn bạn đã đặt dịch vụ tại <a href="https://www.abc.com">Sky View Restaurant</a>. Đơn hàng của bạn đã được
    tiếp nhận và đang được xử lý.</div>
</div>
<div>Sau đây là chi tiết đơn hàng của bạn : </div>
<ul>
    <li>Ngày nhận phòng: <%= toTime %></li>
    </li>
    <li>Số lượng khách : <%= numberOfGuest %></li>
    <li>Số bàn đã đặt : <%= numberTable %></li>
    <li>Tổng tiền thanh toán : <%= totalMoney %></li>
    <li>Tổng tiền cọc trước : <%= depositMoney %></li>
</ul>
<div>Trạng thái </div>
<% if (statusBooking === "PENDING") { %>
    <div style="color: white; padding: 10px; background-color: red; max-width: fit-content;border-radius: 4px;">Đang chờ
        duyệt</div>
<% } %>

<% if (statusBooking === "APPROVED") { %>
    <div style="color: white; padding: 10px; background-color: green;max-width: fit-content;border-radius: 4px;">Đã
        duyệt</div>
<% } %>
<div>Cảm ơn!</div>
<div>Sky View</div>
</body>

</html>
