<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial;
            font-size: 14px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .message {
            margin-bottom: 20px;
        }

        .message a {
            color: blue;
            text-decoration: none;
        }

        .order-details {
            margin-bottom: 20px;
            list-style: none;
            padding: 0;
        }

        .order-details li {
            margin-bottom: 10px;
        }

        .status {
            padding: 10px;
            border-radius: 4px;
            max-width: fit-content;
            color: white;
            font-weight: bold;
        }

        .status.rejected {
            background-color: red;
        }

        .status.approved {
            background-color: orange;
        }

        .status.new {
            background-color: green;
        }

        .status.pending {
            background-color: deepskyblue;
        }

        .status.finished {
            background-color: purple;
        }

        .signature {
            margin-top: 20px;
            font-style: italic;
        }
    </style>
</head>

<body>
<h1>Thanh toán đơn hàng</h1>
<div class="message">
    Xin chào, <%= name %>
</div>
<div class="message">
    Cảm ơn bạn đã đặt dịch vụ tại <a href="https://wedding-frontend-seven.vercel.app">Sky View Restaurant</a>.
    Đơn hàng của bạn đã được tiếp nhận và đang được xử lý.
</div>
<div>
    Chi tiết đơn hàng:
</div>
<ul class="order-details">
    <li>Ngày nhận phòng: <%= toTime %></li>
    <li>Số lượng khách : <%= numberOfGuest %></li>
    <li>Số bàn đã đặt : <%= numberTable %></li>
    <li>Tổng tiền thanh toán : <%= totalMoney %></li>
    <li>Tổng tiền cọc trước : <%= depositMoney %></li>
</ul>
<div class="status <%= statusBooking.toLowerCase() %>">
    <% if (statusBooking === "NEW") { %> Đang chờ duyệt
    <% } %>
    <% if (statusBooking === "PENDING") { %> Xác nhận thêm
    <% } %>
    <% if (statusBooking === "FINISHED") { %> Đã hoàn thành
    <% } %>
    <% if (statusBooking === "APPROVED") { %> Đã duyệt
    <% } %>
    <% if (statusBooking === "REJECTED") { %> Đã hủy
    <% } %>
</div>
<div>Cảm ơn!</div>
<div class="signature">Sky View</div>
</body>

</html>
